#!/bin/bash

env|grep GIT_PUSH_TOKEN
DEFAULT_BRANCH="{{ odoo_version }}"
if test -f "aures_dependencies.txt"; then
    cat aures_dependencies.txt|egrep -v "^#\s"|while IFS= read -r line; do
        module=$(echo $line|awk '{print $1}');
        branch=$(echo $line|awk '{print $2}');
        rev=$(echo $line|awk '{print $3}');
        git clone \
            -b ${branch:-$DEFAULT_BRANCH} \
            --depth 1 \
            --no-tags \
            https://x-access-token:${GIT_PUSH_TOKEN}@github.com/aurestic/${module} \
            ${module};
        if [[ "$rev" != "" ]];then
            cd ${module}
            git reset --hard ${rev}
            cd ..
        fi
    done
fi
