name: Update Template

on:
  push:
    branches:
      - "{{ odoo_version }}"
  schedule:
    - cron: "0 8 * * *"

jobs:
  update:
    name: Update Odoo Module Template
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Installing copier
        run: |
         pipx install copier
         pipx install pre-commit
         pipx ensurepath

      - name: Update template
        id: update-template
        run: copier update --defaults --UNSAFE

      - name: Set version template
        id: version-template
        run: echo "VERSION=$(cat .copier-answers.yml|grep _commit|awk '{print $2}')" >> "$GITHUB_OUTPUT"

      - name: Check for uncommitted changes
        id: check-changes
        shell: bash
        run: |
          if [[ `git status --porcelain` ]]; then
            echo "CHANGES=1" >> "$GITHUB_OUTPUT"
          else
            echo "CHANGES=0" >> "$GITHUB_OUTPUT"
          fi

      - name: Create Pull Request
        if: steps.check-changes.outputs.CHANGES == 1
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          token: {% raw %}${{ secrets.GH_UPDATE_ODOO_TEMPLATE }}{% endraw %}
          commit-message: {% raw %}'[UPD] Updating template to ${{ steps.version-template.outputs.VERSION }}'{% endraw %}
          committer: GitHub <noreply@github.com>
          author: {% raw %}${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>{% endraw %}
          branch: gh/addons-template-update-{{ odoo_version }}
          delete-branch: true
          title: '[UPD] Odoo module template'
          body: {% raw %}|
            Updating to version ${{ steps.version-template.outputs.VERSION }}

            Automated changes by [Aurestic Github Action](https://github.com/aurestic/oca-addons-repo-template/blob/master/src/.github/workflows/template.yml){% endraw %}
          labels: |
            template
            automated pr
          reviewers: |
            almumu
            JordiToledo
          draft: false
